services:
  # =====================
  # Postgres для всех сред
  # =====================
  postgres-dev:
    image: postgres:15
    container_name: postgres_dev
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    ports:
      - "${DB_PORT_DEV}:5432"
    networks:
      - avalon_net

  postgres-test:
    image: postgres:15
    container_name: postgres_test
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata_test:/var/lib/postgresql/data
    ports:
      - "${DB_PORT_TEST}:5432"
    networks:
      - avalon_net

  postgres-preprod:
    image: postgres:15
    container_name: postgres_preprod
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata_preprod:/var/lib/postgresql/data
    ports:
      - "${DB_PORT_PREPROD}:5432"
    networks:
      - avalon_net

  # =====================
  # Backend API (Dev / Test / Preprod)
  # =====================
  backend-dev:
    build:
      context: ../backend
    container_name: backend_dev
    environment:
      ENV: dev
      DB_HOST: postgres-dev
      DB_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${BACKEND_DEV_PORT}:5000"
    depends_on:
      - postgres-dev
    networks:
      - avalon_net

  backend-test:
    build:
      context: ../backend
    container_name: backend_test
    environment:
      ENV: test
      DB_HOST: postgres-test
      DB_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${BACKEND_TEST_PORT}:5000"
    depends_on:
      - postgres-test
    networks:
      - avalon_net

  backend-preprod:
    build:
      context: ../backend
    container_name: backend_preprod
    environment:
      ENV: preprod
      DB_HOST: postgres-preprod
      DB_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${BACKEND_PREPROD_PORT}:5000"
    depends_on:
      - postgres-preprod
    networks:
      - avalon_net

  # =====================
  # Frontend React (Dev / Test / Preprod)
  # =====================
  frontend-dev:
    build:
      context: ../frontend
      args:
        ENV: dev
    container_name: frontend_dev
    environment:
      ENV: dev
      VITE_API_URL: ${BACKEND_DEV_URL}
    ports:
      - "${FRONTEND_DEV_PORT}:5173"
    depends_on:
      - backend-dev
    networks:
      - avalon_net

  frontend-test:
    build:
      context: ../frontend
      args:
        ENV: test
    container_name: frontend_test
    environment:
      ENV: test
      VITE_API_URL: ${BACKEND_TEST_URL}
    ports:
      - "${FRONTEND_TEST_PORT}:5173"
    depends_on:
      - backend-test
    networks:
      - avalon_net

  frontend-preprod:
    build:
      context: ../frontend
      args:
        ENV: preprod
    container_name: frontend_preprod
    environment:
      ENV: preprod
      VITE_API_URL: ${BACKEND_PREPROD_URL}
    ports:
      - "${FRONTEND_PREPROD_PORT}:5173"
    depends_on:
      - backend-preprod
    networks:
      - avalon_net

  # =====================
  # MinIO
  # =====================
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_BUCKET: ${S3_BUCKET}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    depends_on:
      - postgres-dev
    networks:
      - avalon_net

  # =====================
  # OpenSearch
  # =====================
  opensearch:
    image: opensearchproject/opensearch:2.9.0
    environment:
      discovery.type: single-node
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    networks:
      - avalon_net

  # =====================
  # Kafka + Zookeeper
  # =====================
  zookeeper:
    image: zookeeper:3.9.4
    container_name: zookeeper
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/bitnami
    networks:
      - avalon_net

  kafka:
    image: apache/kafka:4.1.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"
    volumes:
      - kafka_data:/bitnami
    networks:
      - avalon_net

  # =====================
  # Redis
  # =====================
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - avalon_net

  nginx:
    image: nginx:alpine
    container_name: avalon_nginx
    volumes:
      - /opt/avalon/nginx/conf.d:/etc/nginx/conf.d
      - /opt/avalon/nginx/certs:/etc/letsencrypt
      - /opt/avalon/nginx/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    networks:
      - avalon_net


# =====================
# Volumes
# =====================
volumes:
  pgdata_dev:
  pgdata_test:
  pgdata_preprod:
  minio_data:
  opensearch_data:
  zookeeper_data:
  kafka_data:
  redis_data:

# =====================
# Networks
# =====================
networks:
  avalon_net:
    driver: bridge

